@CHARSET "UTF-8";
@import "bootstrap.min.css";
body {
    overflow-x: hidden;
    background: #fff;
    margin: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3 {
    color: #009688;
}

.row {
    background: #fff;
    padding-left: 5px;
}

.left,
.right {
    box-sizing: border-box;
    min-height: 300px;
    margin-top: 15px;
    padding: 20px;
}

.rightAlign {
    float: right;
}

.board {
    background: #f6f6f6;
    border: 2px solid #ddd;
    margin: 3px;
    padding: 20px;
    max-height: 450px;
    overflow-y: scroll;
}

.board ul {
    margin: 0;
    padding: 0;
}

.board li {
    margin: 5px;
    width: 98%;
}

.icon {
    color: #00a0e1;
    font-size: 30px;
}

label {
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.011em;
    line-height: 20px;
}

.team {
    padding-left: 50px;
}

.proyectosGrid {
    margin-right: 0 !important;
}

.gridItem {
    background-color: #fff;
    border-bottom: 2px solid #eeeeee;
    box-sizing: border-box;
    padding: 10px;
}

.gridItem:hover,
.gridItem:focus,
.itemSelected {
    background-color: #e1f4f7;
}

.gridItem h5,
iron-icon {
    color: #009688;
    margin-left: 15px;
}

.gridElement {
    background-color: #fff;
    border-bottom: 2px solid #eeeeee;
    box-sizing: border-box;
    padding: 10px;
}

.gridElement h3 {
    color: #009688;
    text-align: center;
}

.clientIcon {
    border-radius: 10px;
    float: right;
}

#imgProjects {
    padding: 1em 3em;
    margin: 1em 15%;
}

#newProject {
    padding: 1em 3em;
    margin: 1em 36%;
    width: 250px;
    background: #009688;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
}

#newProject:hover {
    background: rgba(0, 150, 136, 0.58);
}

.projects li {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: inherit;
    padding-bottom: 20px;
}

.projects li .circulo {
    float: left !important;
    padding-right: 20px;
}

.gridElement input {
    border: none;
    border-bottom: 1px solid #ddd;
    padding-left: 10px;
    width: 200px;
    margin-right: 25px;
}

.gridElement textarea {
    border: 1px solid #ddd;
    -webkit-box-shadow: 6px 10px 20px -1px rgba(122, 121, 122, 1);
    -moz-box-shadow: 6px 10px 20px -1px rgba(122, 121, 122, 1);
    box-shadow: 6px 10px 20px -1px rgba(122, 121, 122, 1);
    width: 200px;
    margin: 15px;
}

.gridElement input[type=color] {
    width: 25px;
}

.glyphicon-euro {
    color: #ddd;
}

.clientlogo {
    width: 50px;
    height: 50px;
    background: #009688;
    position: absolute;
    right: 20px;
    bottom: 20px;
    border-radius: 8px;
}

.clientlogo span {
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    text-align: center;
    width: 50px;
    position: absolute;
    top: 30%;
}

#filtro {
    width: 100%;
    border: 1px solid #fff;
    margin-bottom: 10px;
    padding: 5px;
    color: #009688;
}

.btn {
    background: #009688;
    color: #fff;
    margin: 20px auto;
    width: 200px;
    text-align: center;
    display: block;
}

.btn-danger {
    margin: 20px;
}

li {
    list-style: none;
    border: 1px solid #80CBC4;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    background: #fff;
}

.paper-ripple {
    color: #80CBC4;
}

paper-tab {
    color: #4DB6AC;
}

.toolbar,
.tabs a {
    color: #fff;
    background-color: #80CBC4;
}

.toolbar {
    color: white;
}

.drawer-list {
    margin: 0 20px;
}

.drawer-list a {
    display: block;
    padding: 0 16px;
    text-decoration: none;
    color: #fff;
    line-height: 40px;
}

.drawer-list a.iron-selected {
    color: black;
    font-weight: bold;
}

.tabs {
    text-decoration: none;
}

.title {
    width: 80%;
    float: left;
}

.posRight {
    float: right;
}

::-webkit-scrollbar {
    width: 12px;
    background: #80CBC4;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.tm-info img {
    display: block;
    max-width: 300px;
    margin: 20px auto;
}

.tm-info h3 {
    width: 100%;
    text-align: center;
}


/*Lista de Miembros*/

ul li select {
    max-width: 200px;
    margin-top: 20px;
    float: left;
}

ul li .btn-danger {
    float: right;
}

.board-title {
    background: #80cbc4;
    color: #fff;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.tm-filter {
    background: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 45px;
    margin: 5px;
}

.tm-filter paper-input {
    margin-top: -20px;
    float: right;
}

.tm-filter select {
    margin: 10px;
    max-width: 200px;
    height: 25px;
}

#task {
    min-height: 300px;
    margin-top: 100px;
}

.task-title {
    background-color: #80CBC4;
    color: #fff;
    height: 40px;
    margin-bottom: 10px;
}

.task-title input {
    border: none;
    padding: 5px;
    color: #fff;
    background-color: #80CBC4;
    width: 80%;
    height: 40px;
    font-size: 24px;
}

.task-title input:hover,
.task-title input:focus,
.task-title input:active {
    border: none;
    padding: 5px;
    color: #fff;
    background-color: #8bdad3;
}

.input-task,
.input-task:hover,
.input-task:focus {
    border: 1px solid #80cbc4;
    border-radius: 10px;
    color: #009688;
    text-align: center;
    text-transform: uppercase;
}

.poker {
    width: 40px;
    color: #009688;
}

.line {
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding: 15px;
}

.lineTotal {
    border: 1px solid #eeeeee;
    padding: 15px;
}

#urgenteBtn {
    float: right;
}

.active {
    background: orange !important;
}

.responsable tm-avatar,
.comentarios tm-avatar {
    float: left;
}

.comentarios {
    border: 1px solid #eeeeee;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    max-width: 95%;
    margin-top:30px;
}

.comentarios h3 {
    max-width: 200px;
    font-size: 20px;
    float: left;
    margin-left: 15px;
}

.comentarios .tiempoinvertido {
    float: right;
    border: 1px solid #4DB6AC;
    background: #beeeea;
    color: #24534e;
    width: 130px;
    font-size: 18;
    font-weight: 700;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.comentarios .time iron-icon {
    border: none;
}

.comentario {
    float: left;
    width: 100%;
    padding: 15px;
}

.time {
    font-size: 24px;
}

.fecha,
.hestimadas {
    position: relative;
    top: 15px;
    left: 20px;
    color: #009688;
}

.fechaTask {
    position: relative;
    top: 15px;
    left: -20px;
    font-weight: 700;
    color: #009688;
}

.tareas li {
    border: none;
    max-height: 30px;
}

.tareas h4 {
    color: #555;
    font-size: 24px;
}

.taskHistory {
    position: relative;
    top: -50px;
    left: 30px;
    max-width: 80%;
    color: #555;
}

.tarea {
    color: #555;
}

google-chart {
    height: 500px !important;
    width: 400px !important;
}

@media (max-width: 600px){
    .tabs{
        position:absolute;
        top:50px;
        left:0;
        padding: 0 0 0 30px;
        width:100%;
        background: #80cbc4;
    }
}