<!DOCTYPE html>
<html>

<head>
    <!-- Dependencias/Elementos -->
    <link href="/bower_components/polymer/polymer.html" rel="import">
    <link href="/bower_components/paper-checkbox/paper-checkbox.html" rel="import">
    <link href="/bower_components/paper-item/paper-item.html" rel="import">
    <link href="/bower_components/paper-button/paper-button.html" rel="import">
    <link href="/bower_components/paper-input/paper-input.html" rel="import">
    <link href="/bower_components/paper-input/paper-textarea.html" rel="import">
    <link href="/bower_components/paper-material/paper-material.html" rel="import">
    <link href="/bower_components/iron-icons/iron-icons.html" rel="import">
    <link href="/bower_components/paper-fab/paper-fab.html" rel="import">
    <link href="/bower_components/paper-date-picker-item/paper-date-picker-item.html" rel="import">
    <link rel="import" href="../taskman-search/taskman-search.html">
</head>

<dom-module id="tm-filter" attributes="user fechaInicio fechaFin filtro buscar">
    <template>
	<link rel="stylesheet" type="text/css" href="../../src/css/styles.css">
	<div class="row tm-filter">
		<template is="dom-if" if="{{fechas}}">
			<paper-date-picker-item icon="icons:today" fecha="{{fechaInicio}}" placeholder="Inicio" date-format="L" force-narrow locale="es" class="col-lg-2 col-md-2 col-xs-2"></paper-date-picker-item>
			<paper-date-picker-item icon="icons:today" date="{{fechaFin}}" placeholder="Fin" date-format="L" class="col-lg-2 col-md-2 col-xs-2"></paper-date-picker-item>
		</template>
    <template is="dom-if" if="{{filtro}}">
			<select id="teams" on-change="changeTeam" class="col-lg-3 col-md-3 col-xs-3">
				<template is="dom-repeat" id="proyectosTemplate" items="{{ items }}" as="item">
					<option value="{{item.id}}">{{item.nombre}}</option>
				</template>
    </select>
    </template>
    <template is="dom-if" if="{{buscar}}">
			<paper-input placeholder="Buscar ...." value="{{valorBusqueda}}"  class="col-lg-3 col-md-3 col-xs-3"></paper-input>
		</template>
    </div>

    <iron-ajax auto id="login" content-type="application/json" url="http://localhost/obtenerEquipos/" method="POST" body='{"token":"{{user}}"}' handle-as="json" last-response="{{ items }}" on-response="selectTeam"></iron-ajax>
    <iron-ajax yes id="buscarCliente" content-type="application/json" url="http://localhost/buscar/" method="POST" body='{"token":"{{user}}","tabla":"{{tabla}}","{{filtro}}":"{{valorBusqueda}}"}' handle-as="json" on-response="actualizarEquipos"></iron-ajax>
    </template>

</dom-module>

<script>
    // registramos el elemento
    Polymer({
        is: "tm-filter",
        selectTeam: function(e) {
            if (this.items != undefined)
                this.fire('teamSelected', this.items[0].id);
        },
        changeTeam: function(e) {
            this.fire('teamSelected', Polymer.dom(this.root).querySelector('#teams').value);
        },
        dateFormate: function(date) {
            var aux = "";
            if (date != "" && date != undefined)
                aux = date.getFullYear() + "-" + date.getMonth() + "-" + date.getDay();

            return aux;
        },
        ready: function() {
            this.set('fechaInicio', this.dateFormate(this.fechaInicio));
            this.set('fechaFin', this.dateFormate(this.fechaFin));
        },
        changeDate: function(e) {
            var date = e.detail.value;
            var aux = date.getFullYear() + "-" + date.getMonth() + "-" + date.getDay();
            this.set("date", aux);
            this.set("value", aux);
            this.set("key", "fecha");
            console.log(aux);
            //    this.task.fecha = aux;
            // this.$.updateKey.generateRequest();
        }
    });
</script>