<!DOCTYPE html>
<html>

<head>
    <!-- Dependencias/Elementos -->
    <link href="/bower_components/polymer/polymer.html" rel="import">
    <link href="/bower_components/paper-checkbox/paper-checkbox.html" rel="import">
    <link href="/bower_components/paper-item/paper-item.html" rel="import">
    <link href="/bower_components/paper-button/paper-button.html" rel="import">
    <link href="/bower_components/paper-input/paper-input.html" rel="import">
    <link href="/bower_components/paper-input/paper-textarea.html" rel="import">
    <link href="/bower_components/paper-material/paper-material.html" rel="import">
    <link href="/bower_components/iron-icons/iron-icons.html" rel="import">
    <link href="/bower_components/paper-fab/paper-fab.html" rel="import">
    <link href="/bower_components/paper-date-picker/paper-date-picker.html" rel="import">
    <link href="/bower_components/calendar-lite/calendar-lite.html" rel="import">
    <link href="/bower_components/simple-modal/simple-modal.html" rel="import">
    <link rel="import" href="../taskman-search/taskman-search.html">
    <link rel="import" href="../taskman-history/tm-history.html">
    <link rel="import" href="/bower_components/iron-localstorage/iron-localstorage.html">
     <link rel="import" href="/bower_components/sortable-list/sortable-list.html">
</head>

<dom-module id="tm-board-histories" attributes="title team table state">
    <template>
	<link rel="stylesheet" type="text/css" href="../../src/css/styles.css">
    <style>
    :host {
        --simple-modal-padding : 0px;
        --simple-modal-close-size: 24px;
        --simple-modal-close-color:rgba(255,255,255,255);
        --paper-checkbox-checked-color: #80CBC4;
        --paper-checkbox-unchecked-color: #80CBC4;
    }
</style>
	<div class=" col-xs-12 col-sm-5 col-md-3 col-lg-3">
		<div class="board-title">{{ title }}</div>
        <paper-input label="Nuevo " value="{{nuevo}}" on-change="new"></paper-input>
        <ul class="board row row-holder">
                <sortable-list id="sortable">
                <template is="dom-repeat" id="miembrosTemplate" items="{{ items }}" as="item">
					<li class="col-xs-11 col-sm-11 col-md-11 col-lg-11 column" data-id$="{{item.id}}">
                        <paper-checkbox ></paper-checkbox>
						<tm-avatar nombre="#{{item.proyecto}}" icono="" default="social:person-add" on-tap="cambiarMiembro" ></tm-avatar>
						<h3 on-tap="seleccionoHistoria">{{item.nombre}}</h3>
						<p>
							<!--<iron-icon icon="icons:date-range" on-tap="seleccionarFecha"></iron-icon>-->
                            	<paper-date-picker-item icon="icons:today"  placeholder="Inicio" date-format="L" class="col-lg-2 col-md-2 col-xs-2"></paper-date-picker-item>
                                <span class="fecha">{{item.fecha}}</span>
                                <iron-icon icon="device:access-time" class="hestimadas"></iron-icon><input type="text" name="horasestimadas" value="{{item.horasestimadas}}" class="input-task hestimadas"   on-change="update" style="width:40px">
                        </p>
					</li>      	  
            	</template>
                </sortable-list>
    </ul>
    </div>
    <iron-localstorage name="token" value="{{token}}"></iron-localstorage>
    <iron-ajax auto id="getTasks" content-type="application/json" url="http://localhost/obtenerTareas/" method="POST" body='{"token":"{{token}}","table":"{{table}}","team":"{{team}}","state":"{{state}}"}' handle-as="json" last-response="{{ items }}" on-response="obtenerMiembro"></iron-ajax>
    <iron-ajax yes content-type="application/json" id="nuevo" url="http://localhost/insertar/" method="POST" body='{"token":"{{token}}","tabla":"{{table}}", "nombre":"{{nuevo}}","equipo":"{{team}}"}' handle-as="json" on-response="actualizar"></iron-ajax>
    <iron-ajax yes id="miembros" content-type="application/json" url="http://localhost/obtenerUsuarios/" method="POST" body='{"token":"{{token}}","equipo":"{{team}}"}' handle-as="json" last-response="{{ miembros }}"></iron-ajax>
    <iron-ajax yes id="actualizarResponsable" content-type="application/json" url="http://localhost/actualizar/" method="POST" body='{"token":"{{token}}","tabla":"{{table}}","codresponsable":"{{responsable}}","id":"{{historiaSeleccionada}}" }' handle-as="json"
        on-response="actualizar"></iron-ajax>
    <iron-ajax yes id="actualizarFecha" content-type="application/json" url="http://localhost/actualizar/" method="POST" body='{"token":"{{token}}","tabla":"historiasusuario","fecha":"{{date}}","id":"{{task.id}}"}' handle-as="json" on-response="notificar"></iron-ajax>
   <iron-ajax yes id="actualizarOrden" content-type="application/json" url="http://localhost/actualizar/" method="POST" body='{"token":"{{token}}","tabla":"historiasusuario","orden":"{{order}}","id":"{{id}}"}' handle-as="json" on-response="notificar"></iron-ajax>
  
    <!-- -Responsable de la Tarea -->
    <simple-modal id="modal" title="Seleccione un Proyecto">
        <div style="margin:30px;">
            <tm-searchs tabla="proyectos" campo="id" label="Buscar proyecto" value="{{item.proyecto}}"></tm-searchs>
            <template is="dom-repeat" id="miembrosTemplate" items="{{ proyectos }}" as="item">
                <li on-tap="updateMember" class="col-xs-11 col-sm-11 col-md-5 col-lg-5">
                    <h3>{{item.nombre}}</h3>
                    <input type="hidden" id="idProyecto" value="{{item.id}}">
                </li>      	  
            </template>
        </div>
    </simple-modal>
    <!-- Vista de Tarea -->
    <template is="dom-if" if="{{task}}" id="historyTemplate">
        <simple-modal id="history">
            <tm-history task="{{task}}" user="{{token}}"></tm-history>
        </simple-modal>
    </template>
    </template>

</dom-module>

<script>
    // registramos el elemento
    Polymer({
        is: "tm-board-histories",
        properties: {
            historiaSeleccionada: String,
            task: Object
        },
        listeners: {
            'teamSeleccionado': 'selecTeam2',
           // 'change': 'changeDate',
            'dragend':'reordenar'
        },
        attributeChanged: function(e) {
            console.log("entra");
            console.log(e);
        },
        selecTeam2: function(e) {
            console.log("hola");
        },
        ready: function() {

        },
        new: function() {
            this.$.nuevo.generateRequest();
        },
        obtenerMiembro: function() {
            //this.$.obtenerMiembro.generateRequest();s);
        },
        cambiarMiembro: function(e) {
            this.$.miembros.generateRequest();
            this.$$("#modal").active = true;
            historia = e.model.__data__.item.historiaid;
            this.set("historiaSeleccionada", historia);
            console.log(e.model.__data__.item);
        },
        updateMember: function(e) {
            this.set("responsable", e.model.__data__.item.id);
            this.$.actualizarResponsable.generateRequest();
            this.$$("#modal").active = false;
        },
        actualizar: function() {
            this.$.getTasks.generateRequest();
            //location.reload();
        },
        seleccionoHistoria: function(e) {
            historia = e.model.__data__.item;
            console.log(historia);
            this.set("task", historia);
            this.$.historyTemplate.render();
            this.$$("#history").active = true;
        },
        changeDate: function(e) {
            console.log("Fecha ha cambiado");
            var date = e.detail.value;
            var aux = date.getFullYear() + "-" + date.getMonth() + "-" + date.getDay();
            this.set("date", aux);
            this.task.fecha = aux;
            this.set("task.fecha", aux);
            this.$.actualizarFecha.generateRequest();
        },
        reordenar:function(e){
           var tasks = this.$.sortable.queryAllEffectiveChildren("li");
            tasks.map(function(element, index) {
            this.set("id",element.getAttribute('data-id'));
            this.set("order",index);
            this.$.actualizarOrden.generateRequest();
            }, this);
        }

    });
</script>