<!DOCTYPE html>
<html>

<head>
    <!-- Dependencias/Elementos -->
    <link href="/bower_components/polymer/polymer.html" rel="import">
    <link href="/bower_components/paper-checkbox/paper-checkbox.html" rel="import">
    <link href="/bower_components/paper-item/paper-item.html" rel="import">
    <link href="/bower_components/paper-button/paper-button.html" rel="import">
    <link href="/bower_components/paper-input/paper-input.html" rel="import">
    <link href="/bower_components/paper-input/paper-textarea.html" rel="import">
    <link href="/bower_components/paper-material/paper-material.html" rel="import">
    <link href="/bower_components/iron-icons/iron-icons.html" rel="import">
    <link href="/bower_components/paper-fab/paper-fab.html" rel="import">
    <link href="/bower_components/paper-date-picker/paper-date-picker.html" rel="import">
    <link href="/bower_components/calendar-lite/calendar-lite.html" rel="import">
    <link href="/bower_components/simple-modal/simple-modal.html" rel="import">
    <link rel="import" href="../taskman-search/taskman-search.html">
    <link rel="import" href="../taskman-task/tm-task.html">
    <link rel="import" href="/bower_components/iron-localstorage/iron-localstorage.html">
    <link rel="import" href="/bower_components/sortable-list/sortable-list.html">
</head>

<dom-module id="tm-board-tasks" attributes="title team table state">
    <template>
	<link rel="stylesheet" type="text/css" href="../../src/css/styles.css">
    <style>
    :host {
        --simple-modal-padding : 0px;
        --simple-modal-close-size: 24px;
        --simple-modal-close-color: rgb(122, 120, 120);
         }
</style>
	<div class=" col-xs-12 col-sm-5 col-md-3 col-lg-3">
		<div class="board-title">{{ title }}</div>
        <paper-input label="Nuevo " value="{{nuevo}}" on-change="new"></paper-input>
        <ul class="board row">
            <sortable-list id="sortable">
                <template is="dom-repeat" id="miembrosTemplate" items="{{ items }}" as="item">
					<li class="col-xs-11 col-sm-11 col-md-11 col-lg-11" data-id$="{{item.codtarea}}">
						<tm-avatar nombre="{{item.nombre}}" icono="{{item.icono}}" default="social:person-add" on-tap="cambiarMiembro" ></tm-avatar>
						<h3 on-tap="seleccionoHistoria">{{item.nombret}}</h3>
						<p>
                            <paper-date-picker-item icon="icons:today" fecha="{{item.fecha}}" placeholder="Fecha" date-format="L" force-narrow locale="es" class="col-lg-2 col-md-2 col-xs-2" on-tap="setTaskID"></paper-date-picker-item>
                            <span class="fecha">{{item.fecha}}</span>
                            <iron-icon icon="device:access-time" class="hestimadas"></iron-icon><input type="text" name="horasestimadas" value="{{item.horasestimadas}}" class="input-task hestimadas"   on-change="updateTime" style="width:40px">
						</p>
					</li>      	  
            	</template>
    </sortable-list>
    </ul>
    </div>
    <iron-localstorage name="token" value="{{token}}"></iron-localstorage>
    <iron-ajax auto id="getTasks" content-type="application/json" url="http://localhost/obtenerTareas/" method="POST" body='{"token":"{{token}}","table":"{{table}}","team":"{{team}}","state":"{{state}}"}' handle-as="json" last-response="{{ items }}" on-response="obtenerMiembro"></iron-ajax>
    <iron-ajax yes content-type="application/json" id="nuevo" url="http://localhost/insertar/" method="POST" body='{"token":"{{token}}","tabla":"{{table}}", "nombre":"{{nuevo}}","equipo":"{{team}}","estado":"{{state}}"}' handle-as="json" on-response="actualizar"></iron-ajax>
    <iron-ajax yes id="miembros" content-type="application/json" url="http://localhost/obtenerUsuarios/" method="POST" body='{"token":"{{token}}","equipo":"{{team}}"}' handle-as="json" last-response="{{ miembros }}"></iron-ajax>
    <iron-ajax yes id="actualizarResponsable" content-type="application/json" url="http://localhost/actualizar/" method="POST" body='{"token":"{{token}}","tabla":"{{table}}","codresponsable":"{{responsable}}","id":"{{historiaSeleccionada}}" }' handle-as="json"
        on-response="actualizar"></iron-ajax>
    <iron-ajax yes id="actualizarFecha" content-type="application/json" url="http://localhost/actualizar/" method="POST" body='{"token":"{{token}}","tabla":"{{table}}","fecha":"{{date}}","id":"{{historiaSeleccionada}}" }' handle-as="json" on-response="actualizar"></iron-ajax>
   <iron-ajax yes id="actualizarHorasEstimadas" content-type="application/json" url="http://localhost/actualizar/" method="POST" body='{"token":"{{token}}","tabla":"{{table}}","horasestimadas":"{{horasestimadas}}","id":"{{historiaSeleccionada}}" }' handle-as="json" on-response="actualizar"></iron-ajax>
    <iron-ajax yes id="actualizarOrden" content-type="application/json" url="http://localhost/actualizar/" method="POST" body='{"token":"{{token}}","tabla":"tareas","orden":"{{order}}","id":"{{id}}"}' handle-as="json" on-response="notificar"></iron-ajax>
  
    <!-- -Responsable de la Tarea -->
    <simple-modal id="modal" title="Seleccione un Miembro">
        <template is="dom-repeat" id="miembrosTemplate" items="{{ miembros }}" as="item">
            <li on-tap="updateMember" class="col-xs-11 col-sm-11 col-md-5 col-lg-5">
                <tm-avatar nombre="{{item.nombre}}" icono="{{item.icono}}"></tm-avatar>
                <h3>{{item.nombre}} {{item.apellidos}}</h3>
                <input type="hidden" id="idUsuario" value="{{item.id}}">
            </li>      	  
        </template>
        </ul>
    </simple-modal>
    <!-- Vista de Tarea -->
    <template is="dom-if" if="{{task}}" id="taskTemplate">
        <simple-modal id="task">
            <tm-task task="{{task}}" user="{{token}}" team="{{team}}" table="{{table}}"></tm-task>
        </simple-modal>
    </template>
    </template>

</dom-module>

<script>
    // registramos el elemento
    Polymer({
        is: "tm-board-tasks",
        properties: {
            historiaSeleccionada: String,
            task: Object
        },
        listeners: {
            'teamSeleccionado': 'selecTeam2',
            'change': 'changeDate',
            'active-changed':'modalClosed',
            'dragend':'reordenar',
            'dragenter':'crearTareas'
        },
        attributeChanged: function(e) {

        },
        ready: function() {
        
        },
        new: function() {
            this.$.nuevo.generateRequest();
        },
        cambiarMiembro: function(e) {
            this.$.miembros.generateRequest();
            this.$$("#modal").active = true;
            codtarea = e.model.__data__.item.codtarea;
            console.log( codtarea);
            this.set("historiaSeleccionada", codtarea);
        },
        updateMember: function(e) {
             console.log( e.model.__data__);
            this.set("responsable", e.model.item.id);
            this.$.actualizarResponsable.generateRequest();
            this.$$("#modal").active = false;
        },
        actualizar: function() {
            this.$.getTasks.generateRequest();
        },
        actualizarFecha: function() {
            this.$$("#fecha").active = false;
        },
        seleccionoHistoria: function(e) {
            historia = e.model.__data__.item;
            this.set("task", historia);
            this.set("historiaSeleccionada",historia.codtarea);
            this.$.taskTemplate.render();
            this.$$("#task").active = true;
        },
        changeDate: function(e) {
            var date = e.detail.value;
            var aux = date.getFullYear() + "-" + date.getMonth() + "-" + date.getDay();
            this.set("date", aux);
          //  this.task.fecha = aux;
            this.set("task.fecha", aux);
            this.$.actualizarFecha.generateRequest();
        },
        setTaskID:function(e){
              historia = e.model.__data__.item;
            this.set("task", historia);
            this.set("historiaSeleccionada",historia.codtarea);
        },
        updateTime:function(e){
              historia = e.model.__data__.item;
            this.set("task", historia);
            this.set("historiaSeleccionada",historia.codtarea);
            this.set("horasestimadas",e.path[0].value);
            this.$.actualizarHorasEstimadas.generateRequest();
        },
        modalClosed: function(e){
            if(!e.detail.value){
                this.$.getTasks.generateRequest();
            }
        },
          reordenar:function(e){
           var tasks = this.$.sortable.queryAllEffectiveChildren("li");
            tasks.map(function(element, index) {
            this.set("id",element.getAttribute('data-id'));
            this.set("order",index);
            this.$.actualizarOrden.generateRequest();
            }, this);

        }, 
        crearTareas: function(e){
            console.log(e);
        }


    });
</script>