<!DOCTYPE html>
<html>

<head>
    <!-- Dependencias/Elementos -->
    <link href="/bower_components/polymer/polymer.html" rel="import">
    <link href="/bower_components/paper-checkbox/paper-checkbox.html" rel="import">
    <link href="/bower_components/paper-item/paper-item.html" rel="import">
    <link href="/bower_components/paper-button/paper-button.html" rel="import">
    <link href="/bower_components/paper-input/paper-input.html" rel="import">
    <link href="/bower_components/paper-input/paper-textarea.html" rel="import">
    <link href="/bower_components/paper-material/paper-material.html" rel="import">
    <link href="/bower_components/iron-icons/iron-icons.html" rel="import">
    <link href="/bower_components/iron-icons/device-icons.html" rel="import">
    <link href="/bower_components/paper-fab/paper-fab.html" rel="import">
    <link href="/bower_components/paper-date-picker/paper-date-picker.html" rel="import">
    <link href="/bower_components/calendar-lite/calendar-lite.html" rel="import">
    <link href="/bower_components/simple-modal/simple-modal.html" rel="import">
    <link rel="import" href="../taskman-search/taskman-search.html">
    <link rel="import" href="../taskman-avatar/taskman-avatar.html">
</head>

<dom-module id="tm-history" attributes="task user">
    <template>
	<link rel="stylesheet" type="text/css" href="../../src/css/styles.css">
    <style>
        :host{
             --paper-checkbox-checked-color: #80CBC4;
             --paper-checkbox-unchecked-color: #80CBC4;
        }
       
    </style>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 task-title">
        <input type="text" name="nombre" value="{{task.nombre}}" on-change="update"></input>
	</div>
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <paper-checkbox></paper-checkbox>
            	<iron-icon icon="device:access-time"></iron-icon><input type="text" name="horasestimadas" value="{{task.horasestimadas}}" class="input-task"  on-change="update" style="width:40px">
                <a href="/planing-poker"><iron-icon icon="icons:credit-card"></iron-icon><span class="poker">Planing Poker</span></a>
                <div style="float:right">
                    <template  is="dom-repeat"  items="{{ equipo }}" as="item">
                        <tm-avatar nombre="{{item.nombre}}" icono="{{item.icono}}"></tm-avatar>
                    </template>
    <template is="dom-repeat" items="{{ proyecto }}" as="item">
                        <tm-avatar nombre="{{item.nombre}}" icono="{{item.icono}}"></tm-avatar>
                </template>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <paper-textarea id="tDescripcion" name="descripcion" label="Descripción" value="{{task.descripcion}}" on-blur="update" rows="3"></paper-textarea>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 line">
        <paper-date-picker-item icon="icons:today" fecha="{{fecha}}" placeholder="Inicio" date-format="L" class="col-lg-2 col-md-2 col-xs-2"></paper-date-picker-item>
        <span class="fechaTask">{{task.fecha}}</span>
        <paper-button id="urgenteBtn" on-tap="activarUrgente" raised> Urgente </paper-button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tareas">
        <h4>Tareas</h4>
        <template is="dom-repeat" items="{{ tasks }}" as="item">
            <li class="tarea">
                <paper-checkbox ></paper-checkbox>
                <paper-input value="{{item.nombre}}" name="{{item.id}}" class="taskHistory"></paper-input>
            </li>        
        </template>
        <li class="tarea">
            <paper-input label="Añadir una tarea" value="{{newTask}}" on-change="newTask" raised></paper-input>
             <paper-input label="Nuevo " value="{{newTask}}" on-blur="newTask"></paper-input>
        </li>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 comentarios">
        <paper-textarea label="Escribe un comentario..." value="{{newComentario}}" rows="3"></paper-textarea>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div style="padding-top:20px;width:160px;float:left">
                <iron-icon icon="device:access-time" class="time"></iron-icon><input type="time" value="{{tiempo}}" id="tiempo" class="input-task time" style="width:100px;margin-left:20px;">
            </div>
            <paper-button id="guardarBtn" on-tap="insertarComentario" class="btn rightAlign"> Comentar </paper-button>
        </div>
    </div>
    <template is="dom-repeat" items="{{ comentarios }}" as="item">
             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 comentarios ">
                  <tm-avatar nombre="{{item.nombre}}" icono="{{item.icono}}"></tm-avatar>
                  <h3>{{item.nombre}} {{item.apellidos}}</h3>
                  <iron-icon icon="device:access-time" style="float:right;"></iron-icon> 
                  <span class="tiempoinvertido"> {{item.tiempo}}</span>
                       <p class="comentario">{{item.comentario}}</p>
                       <div class="clearfix"></div>
                       <span>{{item.fecha}}</span> | <span>{{item.hora}}</span>
             </div>
    </template>

    <iron-ajax auto content-type="application/json" url="http://localhost/buscar/" method="POST" body='{"token":"{{user}}","tabla":"equipos","id":"{{task.equipo}}"}' handle-as="json" last-response="{{equipo}}"></iron-ajax>
    <iron-ajax auto content-type="application/json" url="http://localhost/buscar/" method="POST" body='{"token":"{{user}}","tabla":"proyectos","id":"{{task.proyecto}}"}' handle-as="json" last-response="{{proyecto}}"></iron-ajax>
    <iron-ajax auto content-type="application/json" url="http://localhost/buscar/" method="POST" body='{"token":"{{user}}","tabla":"proyectos","id":"{{task.proyecto}}"}' handle-as="json" last-response="{{proyecto}}"></iron-ajax>
    <iron-ajax auto content-type="application/json" url="http://localhost/buscar/" method="POST" body='{"token":"{{user}}","tabla":"tareas","codhistoria":"{{task.id}}"}' handle-as="json" last-response="{{tasks}}"></iron-ajax>
    <iron-ajax auto content-type="application/json" url="http://localhost/obtenerUsuario/" method="POST" body='{"token":"{{user}}"}' handle-as="json" last-response="{{usuario}}" on-response="seleccionarUsuario"></iron-ajax>
    <iron-ajax yes id="updateKey" content-type="application/json" url="http://localhost/actualizar/" method="POST" body='{"token":"{{user}}","tabla":"historiasusuario","{{key}}":"{{value}}","id":"{{task.id}}"}' handle-as="json" on-response="notificar"></iron-ajax>
    <iron-ajax yes id="insertarComentario" content-type="application/json" url="http://localhost/insertar/" method="POST" body='{"token":"{{user}}","tabla":"comentarios","usuario":"{{usuario.id}}","tiempo":"{{tiempo}}", "comentario":"{{newComentario}}","historia":"{{task.id}}"}'
        handle-as="json" on-response="actualizarComentarios"></iron-ajax>
    <iron-ajax yes id="newTask" content-type="application/json" url="http://localhost/insertar/" method="POST" body='{"token":"{{user}}","tabla":"tareas","nombre":"{{newTask}}","codhistoria":"{{task.id}}"}' handle-as="json" last-response="{{tasks}}"></iron-ajax>
    <iron-ajax auto id="obtenerComentarios" content-type="application/json" url="http://localhost/obtenerComentarios/" method="POST" body='{"token":"{{user}}","historia":"{{task.id}}"}' handle-as="json" last-response="{{comentarios}}"></iron-ajax>
    </template>

</dom-module>

<script>
    // registramos el elemento
    Polymer({
        is: "tm-history",
        properties: {
            historiaSeleccionada: String,
            showFecha: Boolean
        },
        listeners: {
        //    'change': 'changeDate'
        },
        ready: function() {
            this.set('showFecha', false);
            console.log("History Ready");
            console.log(this.task);
        },
        seleccionarFecha: function() {
            if (this.showFecha == false)
                this.set('showFecha', true);
            else
                this.set('showFecha', false);
        },
        activarUrgente: function() {
            this.set("active", "active");
        },
        insertarComentario: function(e) {

            this.tiempo = this.$$("#tiempo").value;
            if (this.tiempo == "" || this.tiempo == undefined) {
                this.set("tiempo", "00:00:00");
            } else {
                this.set("tiempo", this.tiempo + ":00");
            }
            this.$.insertarComentario.generateRequest();
        },
        seleccionarUsuario: function() {
            this.set("usuario", this.usuario[0]);
            //console.log(this.usuario);
        },
        actualizarComentarios: function() {
            this.$.obtenerComentarios.generateRequest();
        },
        changeDate: function(e) {
            var date = e.detail.value;
            var aux = date.getFullYear() + "-" + date.getMonth() + "-" + date.getDay();
            this.set("date", aux);
            this.set("value", aux);
            this.set("key", "fecha");
            this.task.fecha = aux;
            this.$.updateKey.generateRequest();
        },
        update: function(e) {
            console.log("Actualizo "+e.path[0].name);
            this.set("key", e.path[0].name);
            this.set("value", e.path[0].value);
            this.$.updateKey.generateRequest();
          //  this.$.tm-history.render();
        },
        newTask: function() {
            console.log(this.newTask+" "+this.task.id);
            this.$.newTask.generateRequest();
        }
    });
</script>