<!DOCTYPE html>
<html>

<head>
    <link href="/bower_components/polymer/polymer.html" rel="import">
    <link href="/bower_components/iron-ajax/iron-ajax.html" rel="import">
    <link href="/bower_components/paper-item/paper-item.html" rel="import">
    <link href="/bower_components/paper-button/paper-button.html" rel="import">
    <link href="/bower_components/paper-input/paper-input.html" rel="import">
    <link href="/bower_components/paper-input/paper-textarea.html" rel="import">
    <style>

    </style>
</head>

<dom-module id="tm-sprint" attributes="user team ">
    <template>
      <link rel="stylesheet" type="text/css" href="../../src/css/styles.css">
      <div style="padding-left:20px">
      <h2>Sprint</h2>
        <template is="dom-if" if="{{sprint}}">
          <div class="col-xs-5 col-sm-5  col-md-5 col-lg-5 ">
            <h3>Tareas</h3>
              <label>Activas</label>
              <h3>{{sprint.tareasActivas}}</h3>
              <label>Finalizadas</label>
              <h3>{{sprint.tareasFinalizadas}}</h3>
              <label>Eliminadas</label>
              <h3>{{sprint.tareasEliminadas}}</h3>
          </div>
      <div class="col-xs-6 col-sm-6  col-md-6 col-lg-6 ">
           <h3>Fechas</h3>
           <label>Inicio</label>
           <paper-date-picker-item icon="icons:today" date="{{sprint.fechainicio}}" placeholder="Inicio" date-format="L"></paper-date-picker-item>
           <label>Fin</label>
          <paper-date-picker-item icon="icons:today" date="{{sprint.fechafin}}" placeholder="Fin" date-format="L"></paper-date-picker-item>
           <label>Entrega</label>
          <paper-date-picker-item icon="icons:today" date="{{sprint.fechaentrega}}" placeholder="Fin" date-format="L"></paper-date-picker-item>
          
      </div>
    </div>

    </template>
    <iron-ajax auto content-type="application/json" url="http://localhost/buscar/" method="POST" body='{"token":"{{user}}","tabla":"sprints","codequipo":"{{team}}","activo":"true"}' handle-as="json" on-response="setSprint"></iron-ajax>

    </template>

</dom-module>

<script>
    // registramos el elemento
    Polymer({
        is: "tm-sprint",
        setSprint: function(e) {
            this.set("sprint", e.detail.response[0]);
        }
    });
</script>