<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="/elements/taskman-item/taskman-item.html">
<link rel="import" href="/elements/taskman-client/info.html">
<link rel="import" href="/elements/tm-info/tm-info.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
  <link rel="import" href="/elements/taskman-notifications/tm-notifications.html">
<dom-module id="tm-clients">
  <template>
 <link rel="stylesheet" type="text/css" href="css/styles.css">
	<div class="left col-xs-12 col-sm-7  col-md-8 col-lg-8">
        <tm-info id="infoInicial" descripcion="Cree o seleccione un cliente" img="../images/clients2.jpg" objeto="{{cliente}}"></tm-info>
        <template is="dom-if" if="{{cliente}}">
		    <cliente-info cliente="{{cliente}}" user="{{token}}"></cliente-info>
        </template>
	</paper-material>
	</div>
	<div class="right col-xs-12 col-sm-5 col-md-4 col-lg-4">
    <div class="team">
        <ul class="board row">
                <paper-input label="Nuevo cliente" value="{{nuevocliente}}" on-change="crearCliente"></paper-input>
            <sortable-list>
                <template is="dom-repeat" id="clientesTemplate" items="{{ clientes }}" as="item">
                <li on-tap="seleccionocliente" class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                    <tm-avatar nombre="{{item.nombre}}" icono="{{item.icono}}"></tm-avatar>
                    <h3>{{item.nombre}}</h3>
                    <p>{{item.descripcion}}</p>
                </li>      	  
            </template>
    </sortable-list>
    </ul>
    </div>
    </div>
    <tm-notifications type="{{notifyType}}" text="{{notifyText}}"></tm-notifications>
	<iron-localstorage name="token" value="{{token}}"></iron-localstorage>
	<iron-ajax
	auto id="clientes"content-type="application/json" url="http://localhost/obtener/" method="POST"body='{"token":"{{token}}","tabla":"clientes"}'
    handle-as="json" last-response="{{ clientes }}" ></iron-ajax>
    <iron-ajax
	yes id="crearcliente"content-type="application/json" url="http://localhost/insertar/" method="POST"body='{"token":"{{token}}","tabla":"clientes", "nombre":"{{nuevocliente}}"}' handle-as="json" on-response="refrescarclientes"></iron-ajax>
    <iron-ajax yes id="actualizar" content-type="application/json" url="http://localhost/actualizar/" method="POST" body='{"token":"{{token}}","tabla":"clientes","nombre":"{{nombre}}","descripcion":"{{descripcion}}","icono":"{{icono}}","id":"{{equipo.id}}" }'
        handle-as="json" on-response="notificar"></iron-ajax>
  </template>

  <script>
    Polymer({
      is: 'tm-clients',
      listeners: {
                'clienteActualizado': 'refrescarclientes'
            },
      crearCliente: function(){
          this.$.crearcliente.generateRequest();
      },
      refrescarclientes: function(){
          this.clientes = [];
          this.$.clientes.generateRequest();
          this.notificar();
      },
      seleccionocliente: function(e){
        this.cliente = e.model.__data__.item;
        console.log(this.cliente);
        this.$.infoInicial.remove();
      },
                  notificar: function(e) {
                if(e.detail.response["error"] != undefined)
                {
                     this.set("notifyType","alert");
                    this.set("notifyText","Error!");
                }else{
                    this.set("notifyType","ok");
                this.set("notifyText","Guardado!");
                }
            }
      
    });
  </script>
</dom-module>
