<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/bwt-uploader/bwt-uploader.html">
<link rel="import" href="../bower_components/paper-alert-dialog/paper-alert-dialog.html">
<link rel="import" href="../elements/taskman-search/taskman-search.html">
<link rel="import" href="../elements/taskman-avatar/taskman-avatar.html">
<link rel="import" href="/elements/tm-info/tm-info.html">
<link rel="import" href="/elements/taskman-task/tm-task.html">
<dom-module id="tm-escritorio">
    <template is="dom-bind">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
        <div class="left col-xs-12 col-sm-7  col-md-8 col-lg-8">
            <tm-info id="infoInicial" descripcion="Seleccione una Tarea" img="../images/tasks.png" objeto="{{tarea}}"></tm-info>
                <template is="dom-if" if="{{task}}" id="taskTemplate">
                <tm-task task="{{task}}" user="{{token}}" team="{{team}}" table="tareas"></tm-task>
    </template>
    </div>
    <div class="right col-xs-12 col-sm-5 col-md-4 col-lg-4">
        <div class="team">
            <ul class="board row">
                <!-- <paper-input label="Nuevo tarea" value="{{nuevotarea}}" on-change="creartarea"></paper-input>-->
                <sortable-list>
                    <template is="dom-repeat" id="tareasTemplate" items="{{ tareas }}" as="item">
                <li on-tap="seleccionoHistoria" class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                    <tm-avatar nombre="{{item.nombre}}" icono="{{item.icono}}"></tm-avatar>
                    <h3>{{item.nombre}}</h3>
                    <p>{{item.descripcion}}</p>
                </li>      	  
            </template>
                </sortable-list>
            </ul>
        </div>
    </div>

    <iron-localstorage name="token" value="{{token}}"></iron-localstorage>
    <iron-ajax auto id="usuario" content-type="application/json" url="http://localhost/obtenerUsuario/" method="POST" body='{"token":"{{token}}"}' handle-as="json" on-response="cargarTareas" last-response="{{usuario}}" on-response="cargarTareas"></iron-ajax>
  <iron-ajax yes id="responsable" content-type="application/json" url="http://localhost/buscar/" method="POST" body='{"token":"{{token}}","tabla":"usuarios","id":"{{id}}"}' handle-as="json" on-response="actualizarResponsable" last-response="{{responsable}}" on-response="cargarTareas"></iron-ajax>
    <iron-ajax yes id="tareas" content-type="application/json" url="http://localhost/buscar/" method="POST" body='{"token":"{{token}}","tabla":"tareas","codresponsable":"{{usuario.id}}"}' handle-as="json" last-response="{{ tareas }}"></iron-ajax>
    </template>
    <script>
        Polymer({
            is: 'tm-escritorio',
            cargarTareas: function() {
                this.set('usuario', this.usuario[0]);
                this.$.tareas.generateRequest();
            },
            seleccionoHistoria: function(e) {
                historia = e.model.__data__.item;
                console.log(historia);
                this.set("task", historia);
                this.set("task.nombret",historia.nombre);
                this.set("task.codtarea",historia.id);
                this.set("id",historia.codresponsable);
                this.$.responsable.generateRequest();
                this.$.taskTemplate.render();
                this.$.infoInicial.remove();
            },
            actualizarResponsable:function(){
                this.set("task.nombre",this.responsable[0].nombre);
                this.set("task.apellidos",this.responsable[0].apellidos);
                this.set("task.icono",this.responsable[0].icono);
            }


        });
    </script>


</dom-module>