<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/login-fire/login-fire.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
  <link rel="import" href="/elements/taskman-notifications/tm-notifications.html">
<dom-module id="tm-login">
  <template >
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .card{
      float:left;
      width:95%;
      }
      #registro{
      width:45%;
      float:right;
      }
      #login{
      	width:45%;
      	float:left;
      }
      .intro{
      	width:400px;
      	margin:0 auto;
      	text-align:center;
      }
      .intro h1{
      	width:200px;
      	margin:0 auto;
      	color:#009688;
      	font-weight:400;
      	font-size: 40px;
      }
      .btn {
        background: #009688;
    	color: #fff;
   		margin: 20px auto;
    	width: 200px;
    	text-align: center;
    	display:block;
      }
@media (max-width: 630px) {
 	  #registro{
      width:100%;
      float:right;
      }
      #login{
      	width:100%;
      	float:left;
      }
}
    </style>

    <div class="card">
    	<div class="intro">
    		<h1>TaskMan</h1>
    		<p>Su gestor de Proyectos</p>
    	</div>
    	<div id="login">
    		<h2>Iniciar Sesion</h2>
    		<h4 id="errorLogin"></h4>
    		<form is="iron-form" method="get" action="/">
			  <paper-input name="email" label="Email" value="{{ email }}"required></paper-input>
			  <paper-input name="pass" label="Pass" value="{{ pass }}" type="password" required></paper-input>
			  <paper-button raised class="btn"  on-tap="iniciarSesion">Iniciar Sesión</paper-button>
			</form>
    	</div>
   		<div id="registro">	
   			<h2>Crear una cuenta:</h2>
   			<h4 id="errorRegistro"></h4>
			<form is="iron-form" method="get" action="/" id="basic">
			  <paper-input name="email" label="Email" value="{{ email }}"required></paper-input>
			  <paper-input name="pass" label="Pass" value="{{ pass }}" type="password" required></paper-input>
			  <paper-input name="name" label="Nombre" value="{{ name }}"required></paper-input>
			  <paper-input name="apellidos" label="Apellidos" value="{{ apellidos }}"required></paper-input>	 
			  <paper-button raised class="btn"  on-tap="registrarme">Registrarme</paper-button>
			  <div class="output"></div>
			</form>
		</div>
<iron-localstorage name="token"
    value="{{token}}"
    on-iron-localstorage-load-empty="initializeToken"
  ></iron-localstorage>
  
<iron-ajax
	true
    id="registro"
    content-type="application/json"
    url="http://localhost/register/"
    method="POST"
    body='{"nombre":"{{name}}", "pass":"{{pass}}", "email":"{{ email }}", "apellidos":"{{apellidos}}"}'
    handle-as="json"
    on-response="notificar"
    last-response="{{ data }}"></iron-ajax>
<iron-ajax
	true
    id="login"
    content-type="application/json"
    url="http://localhost/login/"
    method="POST"
    body='{"email":"{{email}}", "pass":"{{pass}}"}'
    handle-as="json"
    on-response="login"
    last-response="{{ data }}"></iron-ajax>
   	
   	 </div>
<tm-notifications type="{{notifyType}}" text="{{notifyText}}"></tm-notifications>
  </template>

  <script>
    Polymer({
      is: 'tm-login',
      registrarme: function(){
          this.$.registro.generateRequest();
        },
       iniciarSesion: function(){
            this.$.login.generateRequest();
          },

            notificar: function(e) {
                if(e.detail.response["error"] != undefined)
                {
                     this.set("notifyType","alert");
                    this.set("notifyText","Error!");
                }else{
                    this.set("notifyType","ok");
                this.set("notifyText","Guardado!");
                }
            },
        login: function(request){
        	var resp = request.detail.response;        	
        	if(resp.token && resp.token != ""){
        		this.set("token",resp["token"]);
        		window.location.href = "/";
        	}
        	else{
        		this.$.errorLogin.innerHTML = resp.error;
            this.set("notifyType","alert");
                    this.set("notifyText","Error!");
        	}
        }
    });

  </script>
</dom-module>
 },