<head>

    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
    <link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
    <link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
    <link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
    <link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
    <link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
    <link rel="import" href="../bower_components/app-route/app-location.html">
    <link rel="import" href="../bower_components/app-route/app-route.html">
    <link rel="import" href="../bower_components/iron-pages/iron-pages.html">
    <link rel="import" href="../bower_components/iron-selector/iron-selector.html">
    <link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
    <link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="../elements/taskman-avatar/taskman-avatar.html">
    <link rel="import" href="../bower_components/google-hangout-button/google-hangout-button.html">
    <link rel="import" href="../elements/taskman-notifications/tm-notifications.html">
    <script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="my-icons.html">
</head>
<dom-module id="my-app">
    <template>
      <link rel="stylesheet" type="text/css" href="css/styles.css">


    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>

    <app-drawer-layout fullbleed>
 

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header condenses reveals effects="waterfall">
          <app-toolbar class="toolbar">
              <a href="/">
                <paper-icon-button src="../images/logo_icon.png"></paper-icon-button>
              </a>
                <div main-title>TaskMan</div>
            
            <div class="tabs">
            <a href="/tasks">Tareas</a>
            <a href="/projects">Proyectos</a>
            <a href="/teams">Equipos</a>
            <a href="/clients">Clientes</a>
          </div>
          <template is="dom-if" if="{{usuario}}">
            <tm-avatar nombre="{{usuario.nombre}}" icono="{{usuario.icono}}" style="margin:0 15px 0 10%;"></tm-avatar>
             <a href="/profile" style="color:#fff; margin-right:3%;">{{usuario.nombre}}</a>
          </template>
    </app-toolbar>
    </app-header>

    <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="view404" role="main">
        <tm-tasks name="tasks"></tm-tasks>
        <tm-projects name="projects"></tm-projects>
        <tm-teams name="teams"></tm-teams>
        <tm-login name="login"></tm-login>
        <tm-clients name="clients"></tm-clients>
        <tm-escritorio name="escritorio"></tm-escritorio>
        <tm-profile name="profile"></tm-profile>
         <planing-poker name="planing-poker"></planing-poker>
        <my-view404 name="view404"></my-view404>
    </iron-pages>
    </app-header-layout>
    <!--<google-hangout-button></google-hangout-button>-->


    </app-drawer-layout>

    <iron-localstorage name="token" value="{{token}}" on-iron-localstorage-load-empty="initializeToken"></iron-localstorage>
    <template is="dom-if" if="{{token}}">
         <iron-ajax auto content-type="application/json" url="http://localhost/obtenerUsuario/" method="POST" body='{"token":"{{token}}"}' handle-as="json" on-response="setUser"></iron-ajax>
    </template>
    </template>

    <script>
        Polymer({
            is: 'my-app',

            properties: {
                page: {
                    type: String,
                    reflectToAttribute: true,
                    observer: '_pageChanged',
                },
                token: String,
            },

            observers: [
                '_routePageChanged(routeData.page)',
            ],

            _routePageChanged: function(page) {
                this.page = page || 'escritorio';
            },

            _pageChanged: function(page) {
                // Load page import on demand. Show 404 page if fails

                if (this.token == "undefined" && this.page != "login") {
                    window.location.href = "/login";
                } else {
                    if (this.token != "undefined" && page == "login") {
                        //window.location.href = "/escritorio";
                    }
                }

                var resolvedPageUrl = this.resolveUrl(page + '.html');
                this.importHref(resolvedPageUrl, null, this._showPage404, true);

            },

            _showPage404: function() {
                this.page = 'view404';
            },
            initializeToken: function() {
                this.token = "undefined";
            },
            attached: function() {

                if (this.token == "undefined" && this.page != "login") {
                    window.location.href = "/login";
                }

            },
            setUser: function(e) {
                this.set("usuario", e.detail.response[0]);
            }
        });
    </script>
</dom-module>