<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../elements/taskman-notifications/tm-notifications.html">
<link rel="import" href="/bower_components/l2t-paper-slider/l2t-paper-slider.html">
<dom-module id="planing-poker">
  <template>
 <style is="custom-style">
  l2t-paper-slider {
    --paper-slide-height: 400px;
  }
  
  paper-slide {
    text-align: center;
    vertical-align: middle;
	color:#80cbc4;
	background:#fff;

  }
  paper-slide .carta{
    	color:#80cbc4;
	background:#fff;
  border:1px solid #80cbc4;
  border-radius: 10px;
  width: 300px;
  height:  360px;
   line-height: 200px;
    font-size: 164px;
    margin: 30px auto;

  }
   paper-slide img {
     margin: 0 auto;
    position: relative;
    top: -70px
   }

</style>
    <div class="card">

<script src="../webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="l2t-paper-slider.html">
	   <l2t-paper-slider total-slides="7">
    <template is="dom-repeat"  items='["T1","T2","T3","T5"]' as="item">
    <paper-slide>
        <div class="carta">
          <div style="width:100%;max-height:50px;">
            <img draggable="false" src="http://127.0.0.1:8080/images/logo_icon.png" style="width: 100px; ">
          </div>
            <span>{{item}}</span>
             <div style="width:100%";>
            <img draggable="false" src="http://127.0.0.1:8080/images/minion-pc.png" style="width: 80%; ">
          </div>
          </div>
      </paper-slide>
    </template> 
  </l2t-paper-slider>
</div>
  </template>

  <script>
    Polymer({
      is: 'planing-poker',
      ready:function()
      {
        var items = '["T1","T2","T3","T5","T8","T11","T21"]';
      //  this.set("items",items);
        console.log(items);
      }
    });
  </script>
</dom-module>
