
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/login-fire/login-fire.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
    <link rel="import" href="/elements/taskman-notifications/tm-notifications.html">
<dom-module id="tm-profile">
    <template>
<link rel="stylesheet" type="text/css" href="../../src/css/styles.css">
    <div class="card">
        <div class="col-log-2 col-md-2 col-xs-2"></div>
         <div class="col-log-8 col-md-8 col-xs-8">
              <h2>Perfil</h2>
            <paper-input name="email" label="Email" value="{{ usuario.email }}"required></paper-input>
            <paper-input name="pass" label="Pass" value="{{ usuario.pass }}" type="password" required></paper-input>
            <paper-input name="name" label="Nombre" value="{{ usuario.nombre }}"required></paper-input>
            <paper-input name="apellidos" label="Apellidos" value="{{ usuario.apellidos }}"required></paper-input>	 
            <paper-button raised class="btn"  on-tap="save">Guardar</paper-button>
            </div>
             <div class="col-log-2 col-md-2 col-xs-2"></div>
    </div>
   	<tm-notifications type="{{notifyType}}" text="{{notifyText}}"></tm-notifications>
    <iron-localstorage name="token" value="{{token}}"></iron-localstorage>
    <template is="dom-if" if="{{token}}">
         <iron-ajax auto content-type="application/json" url="http://localhost/obtenerUsuario/" method="POST" body='{"token":"{{token}}"}' handle-as="json" on-response="setUser"></iron-ajax>
    </template>

    <iron-ajax true id="guardar" content-type="application/json" url="http://localhost/actualizar/" method="POST" body='{"token":"{{token}}","tabla":"usuarios","nombre":"{{usuario.nombre}}", "pass":"{{usuario.pass}}", "email":"{{ usuario.email }}", "apellidos":"{{usuario.apellidos}}","id":"{{usuario.id}}"}'
        handle-as="json" on-response="notificar"></iron-ajax>
    <iron-ajax yes content-type="application/json" id="usuario" url="http://localhost/obtenerUsuario/" method="POST" body='{"token":"{{token}}"}' handle-as="json" on-response="setUser"></iron-ajax>


    </div>
    </template>

    <script>
        Polymer({
            is: 'tm-profile',
            setUser: function(e) {
                this.set("usuario", e.detail.response[0]);
            },
            notificar: function(e) {
                if(e.detail.response["error"] != undefined)
                {
                     this.set("notifyType","alert");
                    this.set("notifyText","Error!");
                }else{
                    this.set("notifyType","ok");
                this.set("notifyText","Guardado!");
                }
            },
            save: function() {
                this.$.guardar.generateRequest();
            }
        });
    </script>
</dom-module>