<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="/elements/taskman-item/taskman-item.html">
<link rel="import" href="/elements/taskman-proyecto/info.html">
<link rel="import" href="/elements/tm-info/tm-info.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<dom-module id="tm-projects">
  <template>
 <link rel="stylesheet" type="text/css" href="css/styles.css">
	<div class="left col-xs-12 col-sm-7  col-md-8 col-lg-8">
        <tm-info id="infoInicial" descripcion="Cree o seleccione un proyecto" img="../images/project-icon-1.png" objeto="{{proyecto}}"></tm-info>
        <template is="dom-if" if="{{proyecto}}">
		    <proyecto-info proyecto="{{proyecto}}" user="{{token}}"></proyecto-info>
        </template>
	</paper-material>
	</div>
	<div class="right col-xs-12 col-sm-5 col-md-4 col-lg-4">
    <div class="team">
        <ul class="board row">
                <paper-input label="Nuevo proyecto" value="{{nuevoProyecto}}" on-change="crearProyecto"></paper-input>
            <sortable-list>
                <template is="dom-repeat" id="proyectosTemplate" items="{{ proyectos }}" as="item">
                <li on-tap="seleccionoProyecto" class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                    <tm-avatar nombre="{{item.nombre}}" icono="{{item.icono}}"></tm-avatar>
                    <h3>{{item.nombre}}</h3>
                    <p>{{item.descripcion}}</p>
                </li>      	  
            </template>
    </sortable-list>
    </ul>
    </div>
    </div>
	<iron-localstorage name="token" value="{{token}}"></iron-localstorage>
	<iron-ajax
	auto id="proyectos"content-type="application/json" url="http://localhost/obtener/" method="POST"body='{"token":"{{token}}","tabla":"proyectos"}'
    handle-as="json" last-response="{{ proyectos }}"></iron-ajax>
    <iron-ajax
	yes id="crearProyecto"content-type="application/json" url="http://localhost/insertar/" method="POST"body='{"token":"{{token}}","tabla":"proyectos", "nombre":"{{nuevoProyecto}}"}'
    handle-as="json" on-response="refrescarProyectos"></iron-ajax>
    <iron-ajax yes id="actualizar" content-type="application/json" url="http://localhost/actualizar/" method="POST" body='{"token":"{{token}}","tabla":"proyectos","nombre":"{{nombre}}","descripcion":"{{descripcion}}","icono":"{{icono}}","id":"{{equipo.id}}" }'
        handle-as="json" on-response="actualizarEquipo"></iron-ajax>
  </template>

  <script>
    Polymer({
      is: 'tm-projects',
      listeners: {
                'proyectoActualizado': 'refrescarProyectos'
            },
      crearProyecto: function(){
          this.$.crearProyecto.generateRequest();
      },
      refrescarProyectos: function(){
          this.proyectos = [];
          this.$.proyectos.generateRequest();
      },
      seleccionoProyecto: function(e){
        this.proyecto = e.model.__data__.item;
        console.log(this.proyecto);
        this.$.infoInicial.remove();
      }
      
    });
  </script>
</dom-module>
