<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 30px;
        line-height: 64px;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }
      .left{
  		float:left;
  		width:70%;
  		min-height: 400px;
  		margin-top:25px;
  	}
  	.right{
  		float:right;
  		width: 30%;
  		max-height: 530px;
  		overflow-y: scroll;
  	}
  	.proyecto{
  		background: #fff;
  		margin-left:20px;
  		margin-right:20px;
  		padding:15px;
  	}
  	.paper-ripple{ color:#80CBC4;}
  	paper-tab{color:#4DB6AC;}
    </style>
  </template>
</dom-module>
