<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/wow-tabs/wowtabs.html">
<link rel="import" href="../bower_components/google-chart/google-chart.html">
<link rel="import" href="/elements/taskman-filter/tm-filter.html">
<link rel="import" href="/elements/taskman-board/tm-board-tasks.html">
<link rel="import" href="/elements/taskman-board/tm-board-histories.html">
<link rel="import" href="/elements/tm-sprint/tm-sprint.html">
<link rel="import" href="/elements/tm-sprint/tm-sprintProgress.html">
<dom-module id="tm-tasks">
    <template>
 <link rel="stylesheet" type="text/css" href="css/styles.css">
 <tm-filter user="{{token}}" fechas="yes" fechaInicio="{{sprint.fechaInicio}}"  fechaFin="{{sprint.fechaFin}}" filtro="equipos" buscar="tareas"></tm-filter>
<div class="row tasks">
  <template is="dom-if" if="{{team}}">
    <wow-tabs position="top">
        <wow-panel title="Tareas">
            <tm-board-tasks title="Sprint" team="{{team}}" table="tareas"  state="1"></tm-board-tasks>
             <tm-board-tasks title="En Espera" team="{{team}}" table="tareas"  state="0"></tm-board-tasks>
            <tm-board-histories title="Product Backlog" team="{{team}}" table="historiasusuario" state="0"></tm-board-histories>    
            <tm-board-tasks title="Finalizadas" team="{{team}}" table="tareas" state="2"></tm-board-tasks>
            <!--<tm-board title="Propuestas" team="{{team}}" table="historiaspropuestas"></tm-board>-->
        </wow-panel>
    <wow-panel title="Progreso">
      <tm-sprintProgress user="{{token}}" team="{{team}}"></tm-sprintProgress>
    </wow-panel>
     <wow-panel title="Sprint">
            <tm-sprint user="{{token}}" team="{{team}}"></tm-sprint>
    </wow-panel>
    </wow-tabs>
  </template>
    </div>
    <iron-localstorage name="token" value="{{token}}"></iron-localstorage>

    </template>

    <script>
        Polymer({
            is: 'tm-tasks',
            listeners: {
                'teamSelected': 'selecTeam'
            },
            properties: {
                team: {
                    type: String,
                    notify: true
                }
            },
            selecTeam: function(e) {
                this.set('team', e.detail);
                this.fire('teamSeleccionado', e.detail);
            }

        });
    </script>
</dom-module>