<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/bwt-uploader/bwt-uploader.html">
<link rel="import" href="../bower_components/paper-alert-dialog/paper-alert-dialog.html">
<link rel="import" href="../elements/taskman-search/taskman-search.html">
<link rel="import" href="../elements/taskman-avatar/taskman-avatar.html">
<link rel="import" href="/elements/tm-info/tm-info.html">
<dom-module id="tm-teams">
    <template is="dom-bind">
    <link rel="stylesheet" type="text/css" href="css/styles.css">

<div class="left col-xs-12 col-sm-7  col-md-8 col-lg-8">
    <template is="dom-if" if="{{ equipo }}">
        <h2 class="title">[[nombre]]</h2>
        <button class="btn-danger posRight" on-tap="eliminarEquipo">Eliminar</button>
        <div class="clearfix"></div>
        <paper-input id="nombre"  label="Nombre " value="{{nombre}} "></paper-input>
        <paper-input id="descripcion" label="Descripcion " value="{{descripcion}} "></paper-input>
        <label>Icono</label>
        <bwt-uploader id="imgUploader" target="http://localhost/addIcono/" body='{"token":"{{token}}","tabla":"equipos","id":"{{equipo.id}}" }'  image="{{icono}}" method="POST"></bwt-uploader>
        <tm-searchs tabla="usuarios" campo="nombre" label="Añadir miembro" value="{{usuario}}"></tm-searchs>
        <label>Miembros</label>
        <div class="clearfix"></div>
        <ul>
        <template is="dom-repeat" id="miembrosTemplate" items="{{ miembros }}" as="item">
            <li on-tap="" class="col-xs-11 col-sm-11 col-md-5 col-lg-5">
                <tm-avatar nombre="{{item.nombre}}" icono="{{item.icono}}"></tm-avatar>
                <h3>{{item.nombre}} {{item.apellidos}}</h3>
                <select id="rol" class="form-control" placeholder="Rol" on-change="actualizarRol" value="item.rol">
                    <option value="1">Admin</option>
                    <option value="2">Desarrollador</option>
                    <option value="3">Analista</option>
                    <option value="4">Gestor de Proyectos</option>
                </select>
                <input type="hidden" id="idUsuario" value="{{item.id}}">
                <button class="btn-danger" on-tap="eliminarMiembro">Eliminar</button>
                <paper-alert-dialog
  title="Congratulations"
   id="alert"
  confirm-button="Aceptar"
  dismiss-button="Cancelar"
  on-confirm="eliminarMiembro">
 
  El usuario va a ser eliminado del equipo. ¿Esta seguro?
</paper-alert-dialog>
            </li>      	  
        </template>
    </ul>
    <div class="clearfix"></div>
    <paper-button raised class="btn" on-tap="guardar">Guardar</paper-button>
    </template>
    <tm-info id="infoInicial" descripcion="Cree o seleccione un equipo" img="../images/team-icon.png" objeto="{{equipo}}"></tm-info>
    <!-- <tm-searchs nombre="usuario " label="Miembro " tabla="usuarios "></tm-searchs>-->
    </div>
    <div class="right col-xs-12 col-sm-5 col-md-4 col-lg-4">
        <div class="team">
            <ul class="board row">
                <paper-input label="Nuevo equipo" value="{{nuevoEquipo}}" on-change="crearEquipo"></paper-input>
                <sortable-list>
                    <template is="dom-repeat" id="equiposTemplate" items="{{ equipos }}" as="item">
                <li on-tap="seleccionEquipo" class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                    <tm-avatar nombre="{{item.nombre}}" icono="{{item.icono}}"></tm-avatar>
                    <h3>{{item.nombre}}</h3>
                    <p>{{item.descripcion}}</p>
                </li>      	  
            </template>
                </sortable-list>
            </ul>
        </div>
    </div>

    <iron-localstorage name="token" value="{{token}}"></iron-localstorage>
    <iron-ajax yes id="nuevo" content-type="application/json" url="http://localhost/insertar/" method="POST" body='{"token":"{{token}}","tabla":"equipos","nombre":"{{nombre}}","descripcion":"{{descripcion}}","icono":"{{icono}}"}' handle-as="json" on-response="insertarResponse"></iron-ajax>
    <iron-ajax yes id="nuevoEquipo" content-type="application/json" url="http://localhost/insertar/" method="POST" body='{"token":"{{token}}","tabla":"equipos","nombre":"{{nuevoEquipo}}"}' handle-as="json" on-response="insertarResponse"></iron-ajax>
    <iron-ajax yes id="actualizar" content-type="application/json" url="http://localhost/actualizar/" method="POST" body='{"token":"{{token}}","tabla":"equipos","nombre":"{{nombre}}","descripcion":"{{descripcion}}","icono":"{{icono}}","id":"{{equipo.id}}" }'
        handle-as="json" on-response="actualizarEquipo"></iron-ajax>
    <iron-ajax auto id="equipos" content-type="application/json" url="http://localhost/obtener/" method="POST" body='{"token":"{{token}}","tabla":"equipos"}' handle-as="json" last-response="{{ equipos }}"></iron-ajax>
    <iron-ajax yes id="miembros" content-type="application/json" url="http://localhost/obtenerUsuarios/" method="POST" body='{"token":"{{token}}","equipo":"{{equipo.id}}"}' handle-as="json" last-response="{{ miembros }}"></iron-ajax>
    <iron-ajax yes id="nuevoMiembro" content-type="application/json" url="http://localhost/insertar/" method="POST" body='{"token":"{{token}}","tabla":"equipos_usuarios","equipo":"{{equipo.id}}","usuario":"{{idUsuario}}"}' handle-as="json" on-response=" refrescarMiembros"></iron-ajax>
    <iron-ajax yes id="actualizarRol" content-type="application/json" url="http://localhost/actualizarRol/" method="POST" body='{"token":"{{token}}","tabla":"equipos_usuarios","equipo":"{{equipo.id}}","usuario":"{{idUsuario}}","rol":"{{rol}}" }' handle-as="json"
        on-response="notificar"></iron-ajax>
    <iron-ajax yes id="eliminarMiembro" content-type="application/json" url="http://localhost/eliminar/" method="POST" body='{"token":"{{token}}","tabla":"{{tabla}}","equipo":"{{equipo}}","usuario":"{{idUsuario}}" }' handle-as="json" on-response="refrescarMiembros"></iron-ajax>
    <iron-ajax yes id="eliminarEquipo" content-type="application/json" url="http://localhost/eliminar/" method="POST" body='{"token":"{{token}}","tabla":"equipos","id":"{{equipo.id}}" }' handle-as="json" on-response="notificar"></iron-ajax>
    </template>
    <script>
        Polymer({
            is: 'tm-teams',
            ready: function() {
                this.$.equipos.generateRequest();
            },
            crearEquipo: function() {
                this.$.nuevoEquipo.generateRequest();
            },
            guardar: function() {
                if (this.equipo == undefined) {
                    this.$.nuevo.generateRequest();
                } else {
                    this.nombre = this.$.nombre.value;
                    this.descripcion = this.$.descripcion.value;
                    //this.icono = this.$.icono.value;
                    this.$.actualizar.generateRequest();
                }
            },
            actualizarEquipo: function(request) {
                this.$.equipos.generateRequest();
            },
            insertarResponse: function(request) {
                //this.push('equipos', request.detail.response);
                this.$.equipos.generateRequest();
            },
            seleccionEquipo: function(e) {
                this.equipo = e.model.__data__.item;
                this.$.infoInicial.remove();
                this.nombre = this.equipo.nombre;
                this.descripcion = this.equipo.descripcion;
                this.icono = this.equipo.icono;
                this.$.miembros.generateRequest();
            },
            listeners: {
                'bwt-uploader-response': 'imgResponse',
                'tm-searchs-changed': 'updateMembers',
                'refrescarMiembros': 'refrescarMiembros'
            },
            imgResponse: function(request) {
                this.set("icono", request.detail.icono);
            },
            updateMembers: function(e) {
                var member = e.detail.__data__.resultados[0];
                console.log(member);
                this.set('idUsuario', member.id);
                this.$.nuevoMiembro.generateRequest();
            },
            refrescarMiembros: function() {
                this.$.miembros.generateRequest();
            },
            actualizarRol: function(e) {
                this.set('rol', Polymer.dom(this.root).querySelector('#rol').value);
                this.set('idUsuario', e.model.__data__.item.id);
                this.$.actualizarRol.generateRequest();
            },
            eliminarMiembro: function(e) {
                confirmar = confirm("¿Esta seguro?");
                if (confirmar) {
                    this.set('tabla', 'equipos_usuarios');
                    this.set('idUsuario', e.model.__data__.item.id);
                    this.set('equipo', e.model.__data__.item.equipo);
                    this.$.eliminarMiembro.generateRequest();

                }
            },
            eliminarEquipo: function(e) {
                confirmar = confirm("¿Esta seguro?");
                if (confirmar) {
                    this.$.eliminarEquipo.generateRequest();

                }
            },
            notificar: function(resp) {
                resp.currentTarget.remove();
            }

        });
    </script>


</dom-module>