<!DOCTYPE html>
<html>
<head>
</head>

<dom-module id="tm-info" attributes="descripcion img objeto">
  <template is="dom-if" if="{{!objeto}}">
	  <link rel="stylesheet" type="text/css" href="../../src/css/styles.css">
      <div class="col-xs-12 col-sm-12  col-md-12 col-lg-12 tm-info">
            <h3 class="center">{{ descripcion }}</h3>
            <img src="{{ img }}" />
      </div>
		
 </template>

</dom-module>

<script>
  // registramos el elemento
  Polymer({
    is: "tm-info"
  });
</script>