<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">


<dom-module id="tm-avatar" attributes="nombre icono default">
    <template>
<style>
.circular { width: 40px; height: 40px; border-radius: 25px; -webkit-border-radius: 25px; -moz-border-radius: 25px; box-shadow: 0 0 8px rgba(0, 0, 0, .8); -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); }
img {
  float: right;
}
  	.circulo {
     width: 40px;
     height: 40px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #80CBC4;
     color:#fff;
     text-transform:uppercase;
     float:right;
     margin-right: 15px;
}
span {
    text-align: center;
    margin-top: 30px;
    width: 30px;
    position: relative;
    top: 25%;
    left: 7px;
    font-weight: 700;
}
.circulo iron-icon{
     width: 80%;
    height: 40px;
    padding-top: 5px;
}

    </style>
  	<template is="dom-if" if="{{ icono}}">
  		<img src="{{icono}}" name="{{nombre}}" class="circular"/>
  	</template>
    <template is="dom-if" if="{{ !icono }}">
         <template is="dom-if" if="{{nombre }}">
  		     <div class="circulo"><span>{{nombre}}</span></div>
         </template>
    <template is="dom-if" if="{{!nombre }}">
        <div class="circulo">
         <iron-icon icon="{{default}}"></iron-icon>
        </div>
    </template>
    </template>
    </template>

    <script>
        Polymer({
            is: 'tm-avatar',
            attached: function() {

                if (this.nombre != undefined)
                    this.set("nombre", this.nombre.split('', 3).join(""));
                else
                    this.nombre = null;
                if (this.icono == "/bower_components/bwt-uploader/images/placeholder.png" || this.icono == undefined)
                    this.icono = null;
            }
        });
    </script>

</dom-module>