<!DOCTYPE html>
<html>
<head>
	<!-- Dependencias/Elementos -->
	<link href="/bower_components/polymer/polymer.html" rel="import">
	<link href="/bower_components/paper-checkbox/paper-checkbox.html" rel="import">
	<link href="/bower_components/paper-item/paper-item.html" rel="import">
	<link href="/bower_components/paper-button/paper-button.html" rel="import">
	<link href="/bower_components/paper-input/paper-input.html" rel="import">
	<link href="/bower_components/paper-material/paper-material.html" rel="import">
	<link href="/bower_components/iron-icons/iron-icons.html" rel="import">
	<link href="/bower_components/paper-fab/paper-fab.html" rel="import">
</head>

<dom-module id="taskman-item" attributes="task user rid">
  <style>
    /* CSS todo-element */

    .todo {
		padding: 10px;
	}
    
    paper-checkbox {
	    float: right;
	    margin: 2vh 2vw;
	}
    
    paper-button {
	    
    }
    
    paper-button {
	    position: absolute;
	    bottom: 3vh;
		right: 3vw;
		font-family: Arial, Helvetica, sans-serif;
		
    }
    
    .done {
	    background: green;
	    color: white;
    }
    
    .info {
	    font-style: italic;
	    font-size: 14px;
	    color: #696969;
		padding-top: 0;
		padding-bottom: 0;
    }
    
    paper-material {
		background-color: #fff;
		max-width: 640px;
		width: 90%;
		margin: 25px auto;
		position: relative;
	}
    
    .info span {
	    margin-left: 5px;
    }
    
    paper-input {
		margin: 0 2vw;
	}
    
  </style>
  <template>

    <!-- DOM local de tu elemento -->
    <paper-material class="todo" elevation="1">
	    <paper-checkbox checked="{{completed}}"></paper-checkbox>
	    <paper-button hidden={{editing}} on-tap="doEdit" class="edit" raised><iron-icon icon="create"></iron-icon>Editar</paper-button>
	    <paper-button hidden={{!editing}} on-tap="doEdit" class="done" raised><iron-icon icon="done"></iron-icon>Guardar</paper-button>
	    <paper-item hidden="{{editing}}" id="task">{{task}}</paper-item>
	    <paper-input id="edit" hidden="{{!editing}}" value="{{task}}"></paper-input>
	    <paper-item class="info">Creado por: <span>{{ user }}</span></paper-item>
	    <paper-item class="info">{{ time }}</paper-item>
    </paper-material> <!-- data bindings de tu DOM local -->

  </template>
</dom-module>

<script>
  // registramos el elemento
  Polymer({
    is: "taskman-item",

    // añadimos propiedades y métodos

    properties: {
    	// declaramos las propiedades
		user: {
			type: String,
			value: ""	
		},
		task: {
        	type: String,
			value: "Hola!"
    	},
    	rid: {
	    	type: Number,
	    	value: -1
    	},
    	time: {
	    	type: String,
	    	value: new Date().toLocaleString()
	    },
		completed: {
	    	type: Boolean,
			value: false,
			observer:'compChanged' // llama a la función compChanged cuando detecta un cambio
    	},
    	editing: {
	    	type: Boolean,
	    	value: false	// la propiedad editing en false muestra y oculta iconos e inputs al editar
    	}
    },
    // compChanged: cuando se marca el checkbox de la task esta función dispara el evento 'complete'
    compChanged: function(e){
	    if(e){ this.fire('complete',this); }
    },
    // doEdit: dispara el evento 'edit'
    doEdit: function(e){
    	this.editing=!this.editing;
    	if (!this.editing){ this.fire('edit', {rid:this.rid, task:this.task}); }
	},
	ready: function(e){
	}
  });
</script>