<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../taskman-avatar/taskman-avatar.html">

<dom-module id="tm-searchs" attributes="tabla campo label">
    <template>
    <style>

  	.paper-ripple{ color:#80CBC4;}
  	paper-tab{color:#4DB6AC;}
  	ul {
  		display: grid;
  		width:100%;
  		margin:0;
  		padding:0;
			max-height: 200px;
			overflow-y: scroll;
			overflow-x:none;
  		}
  	li {
  		display: inline;
	    border: 1px solid #009688;
	    width: 100%;
	    border-radius: 10px;
	    padding: 5px;
			width:95%;
  	}
  	li img{
	    width: 30px;
	    background-repeat: no-repeat;
	    background-position: 50%;
	    border-radius: 50%;
	    background-size: 100% auto;
	    display: inline;
  	}
  	li h3{
  		display:inline;
  	}
  	paper-checkbox{
	  	float: right;
	    margin-right: 30px;
	    margin-top: 10px;
    }
		::-webkit-scrollbar {
    width: 12px;
    background: #80CBC4;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#results{
	 background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif");
}
    </style>
		
  	<paper-input label="{{label}}" name="{{nombre}}" on-change="search" value="{{value}}"></paper-input>
	<div id="results">
		<ul>
			<template id="found" is="dom-repeat" items="{{resultados}}">
				<li>
					<h3>{{item.nombre}} {{item.apellidos}}</h3>
					<tm-avatar nombre="{{item.nombre}}" icono="{{item.icono}}"></tm-avatar>
					<paper-checkbox id="marcado" value="{{item.id}}" on-change="addItem" ></paper-checkbox>
				</li>
		</template>
    </ul>
    </div>
    <iron-localstorage name="token" value="{{token}}"></iron-localstorage>
    <iron-ajax yes id="search" content-type="application/json" url="http://localhost/buscar/" method="POST" body='{"token":"{{token}}","{{campo}}":"{{value}}","tabla":"{{tabla}}"}' handle-as="json" last-response="{{ resultados }}"></iron-ajax>
    </template>

    <script>
        Polymer({
            is: 'tm-searchs',
            setTeam: function(equipo) {
                this.equipo = equipo;
            },
            attached: function() {},
            search: function() {
                this.$.search.generateRequest();
            },
            addItem: function() {
                this.fire('tm-searchs-changed', this);
            }
        });
    </script>

</dom-module>