<!DOCTYPE html>
<html>

<head>
    <!-- Dependencias/Elementos -->
    <link href="/bower_components/polymer/polymer.html" rel="import">
    <link href="/bower_components/paper-checkbox/paper-checkbox.html" rel="import">
    <link href="/bower_components/paper-item/paper-item.html" rel="import">
    <link href="/bower_components/paper-button/paper-button.html" rel="import">
    <link href="/bower_components/paper-input/paper-input.html" rel="import">
    <link href="/bower_components/paper-input/paper-textarea.html" rel="import">
    <link href="/bower_components/paper-material/paper-material.html" rel="import">
    <link href="/bower_components/iron-icons/iron-icons.html" rel="import">
    <link href="/bower_components/paper-fab/paper-fab.html" rel="import">
    <link href="/bower_components/paper-date-picker-item/paper-date-picker-item.html" rel="import">
    <link rel="import" href="../taskman-search/taskman-search.html">
</head>

<dom-module id="proyecto-info" attributes="proyecto user rid">
    <template>
	  <link rel="stylesheet" type="text/css" href="../../src/css/styles.css">
		<form id="proyecto">
			<button class="btn-danger posRight" on-tap="eliminarEquipo">Eliminar</button>
			<paper-input id="tNombre" name="name" label="Nombre del Proyecto" value="{{proyecto.nombre}}"></paper-input>
			<paper-textarea id="tDescripcion" name="descripcion" label="Descripción" value="{{proyecto.descripcion}}"></paper-textarea>
				<template is="dom-if" if="{{!proyecto.codcliente}}">
					<tm-searchs tabla="clientes" campo="nombre" label="Cliente" value=""></tm-searchs>
				</template>
    <template is="dom-if" if="{{proyecto.codcliente}}">
				<iron-ajax yes id="buscarCliente" content-type="application/json" url="http://localhost/buscar/" method="POST" body='{"token":"{{user}}","tabla":"clientes","codcliente":"{{proyecto.codcliente}}"}' handle-as="json" last-response="{{cliente}}" on-response="respuesta"></iron-ajax>
				<label>Cliente</label>
				<ul class="projects">
					<li> 
						<tm-avatar class="circulo" nombre="{{cliente.nombre}}" icono="{{cliente.icono}}"></tm-avatar>
						<h4>{{cliente.nombre}}</h4>
						<iron-icon icon="icons:search"></iron-icon>
          	<iron-icon icon="icons:add-circle"></iron-icon>
						<iron-icon icon="icons:delete-forever"></iron-icon>
					</li>
				</ul>
			</template>
    <paper-date-picker-item icon="icons:today" fecha="{{proyecto.fechainicio}}" placeholder="Inicio" date-format="L" class="col-lg-6 col-md-6 col-xs-6"></paper-date-picker-item>
    <paper-date-picker-item icon="icons:today" date="{{proyecto.fechafin}}" placeholder="Fin" date-format="L" class="col-lg-6 col-md-6 col-xs-6"></paper-date-picker-item>
    <paper-input label="Presupuesto" value="{{proyecto.presupuesto}}" maxlength="10" class="col-lg-6 col-md-6 col-xs-6"></paper-input>
    <paper-input label="Facturado" value="{{proyecto.facturado}}" maxlength="10" class="col-lg-6 col-md-6 col-xs-6"></paper-input>
    <label>Horas</label>
    <div class="clearfix"></div>
    <paper-input label="Dedicadas" value="{{proyecto.horasdedicadas}}" maxlength="10" class="col-lg-4 col-md-4 col-xs-4"></paper-input>
    <paper-input label="Estimadas" value="{{proyecto.horasestimadas}}" maxlength="10" class="col-lg-4 col-md-4 col-xs-4"></paper-input>
    <paper-input label="Facturadas" value="{{proyecto.horasfacturadas}}" maxlength="10" class="col-lg-4 col-md-4 col-xs-4"></paper-input>
    <paper-input label="Rentabilidad" value="{{proyecto.rentabilidad}}" maxlength="10" class="col-lg-6 col-md-6 col-xs-6"></paper-input>
    <paper-input label="Rentabilidad/Hora" value="{{proyecto.rentabilidadh}}" maxlength="10" class="col-lg-6 col-md-6 col-xs-6"></paper-input>

    <div class="clearfix"></div>
    <paper-button raised class="btn" on-tap="guardar">Guardar</paper-button>
    </form>
    <iron-ajax true id="login" content-type="application/json" url="http://localhost/insertar/" method="POST" body='{"token":"{{token}}","tabla":"proyectos", "nombre":"{{nombre}}"}' handle-as="json" on-response="login" last-response="{{ data }}"></iron-ajax>
    <iron-ajax yes id="guardar" content-type="application/json" url="http://localhost/actualizar/" method="POST" body='{"token":"{{user}}","tabla":"proyectos","nombre":"{{proyecto.nombre}}","descripcion":"{{proyecto.descripcion}}","codcliente":"{{proyecto.codcliente}}","id":"{{proyecto.id}}",
"presupuesto":"{{proyecto.presupuesto}}","facturado":"{{proyecto.facturado}}","fechainicio":"{{proyecto.fechainicio}}","fechafin":"{{proyecto.fechafin}}",
"horasdedicadas":"{{proyecto.horasdedicadas}}","horasestimadas":"{{proyecto.horasestimadas}}","horasfacturadas":"{{proyecto.horasfacturadas}}","rentabilidad":"{{proyecto.rentabilidad}}",
"rentabilidadh":"{{proyecto.rentabilidadh}}"}' handle-as="json" on-response="notificar"></iron-ajax>
    <iron-ajax yes id="buscarCliente" content-type="application/json" url="http://localhost/buscar/" method="POST" body='{"token":"{{user}}","tabla":"clientes","codcliente":"{{proyecto.codcliente}}"}' handle-as="json" last-response="{{cliente}}" on-response="respuesta"></iron-ajax>
    <iron-ajax yes id="eliminarEquipo" content-type="application/json" url="http://localhost/eliminar/" method="POST" body='{"token":"{{token}}","tabla":"proyectos","id":"{{proyecto.id}}" }' handle-as="json" on-response="eliminar"></iron-ajax>
    </template>

</dom-module>

<script>
    // registramos el elemento
    Polymer({
        is: "proyecto-info",
        listeners: {
            'tm-searchs-changed': 'seleccionoCliente'
        },
        guardar: function() {
            this.$.guardar.generateRequest();
        },
        seleccionoCliente: function(e, cliente) {
            cliente = e.detail.__data__.resultados[0];
            this.set('proyecto.codcliente', cliente.codcliente);
        },
        notificar: function() {
            this.fire('proyectoActualizado');
        },
        ready: function() {
            if (this.proyecto.codcliente != null)
                this.$.buscarCliente.generateRequest();
        },
        respuesta: function(e) {
            this.set('cliente', e.detail.response[0]);
            console.log(this.cliente);
        },
        eliminarEquipo: function() {
            this.$.eliminarEquipo.generateRequest();
        },
        eliminar: function(resp) {
            // resp.currentTarget.remove();
        }
    });
</script>