<!DOCTYPE html>
<html>
<head>
	<!-- Dependencias/Elementos -->
	<link href="/bower_components/polymer/polymer.html" rel="import">
	<link href="/bower_components/paper-checkbox/paper-checkbox.html" rel="import">
	<link href="/bower_components/paper-item/paper-item.html" rel="import">
	<link href="/bower_components/paper-button/paper-button.html" rel="import">
	<link href="/bower_components/paper-input/paper-input.html" rel="import">
	<link href="/bower_components/paper-input/paper-textarea.html" rel="import">
	<link href="/bower_components/paper-material/paper-material.html" rel="import">
	<link href="/bower_components/iron-icons/iron-icons.html" rel="import">
	<link href="/bower_components/paper-fab/paper-fab.html" rel="import">
	<link href="/bower_components/paper-date-picker-item/paper-date-picker-item.html" rel="import">
	<link rel="import" href="../taskman-search/taskman-search.html">
</head>

<dom-module id="cliente-info" attributes="cliente user rid">
  <template>
	  <link rel="stylesheet" type="text/css" href="../../src/css/styles.css">
		<form id="cliente">
			<paper-input label="codcliente" value="{{cliente.codcliente}}" class="col-lg-2 col-md-2 col-xs-2" readonly="true"></paper-input>
			<paper-input label="Nombre Comercial" value="{{cliente.nombrecomercial}}" class="col-lg-10 col-md-10 col-xs-10"></paper-input>
			<paper-input id="tNombre" name="name" label="Nombre del cliente" value="{{cliente.nombre}}" class="col-lg-6 col-md-6 col-xs-6"></paper-input>
			<paper-textarea id="tDescripcion" name="descripcion" label="Apellidos" value="{{cliente.apellidos}}" class="col-lg-6 col-md-6 col-xs-6"></paper-textarea>
			<paper-input label="CIF/NIF" value="{{cliente.cifnif}}" class="col-lg-3 col-md-3 col-xs-3"></paper-input>
			<paper-input label="E-mail" value="{{cliente.email}}" placeholder="example@mail.com" class="col-lg-6 col-md-6 col-xs-6">
			<iron-icon icon="mail" prefix></iron-icon>
			</paper-input>
			<paper-input label="Teléfono" value="{{cliente.telefono1}}" class="col-lg-3 col-md-3 col-xs-3"></paper-input>
			<paper-date-picker-item icon="icons:today" fecha="{{cliente.fechaalta}}" placeholder="Fecha Alta" date-format="L" class="col-lg-6 col-md-6 col-xs-6"></paper-date-picker-item>
			<paper-date-picker-item icon="icons:today" date="{{cliente.fechabaja}}" placeholder="Fecha Baja" date-format="L" class="col-lg-6 col-md-6 col-xs-6"></paper-date-picker-item>
				
			<div class="clearfix"></div>
			<paper-button raised class="btn"  on-tap="guardar">Guardar</paper-button>
		</form>
<iron-ajax
	true
    id="login"
    content-type="application/json"
    url="http://localhost/insertar/"
    method="POST"
    body='{"token":"{{token}}","tabla":"clientes", "nombre":"{{nombre}}"}'
    handle-as="json"
    on-response="login"
    last-response="{{ data }}"></iron-ajax>
<iron-ajax yes id="guardar" content-type="application/json" url="http://localhost/actualizar/" method="POST" body='{"token":"{{user}}","tabla":"clientes","nombre":"{{cliente.nombre}}","apellidos":"{{cliente.apellidos}}","codcliente":"{{cliente.codcliente}}","id":"{{cliente.id}}",
"nombrecomercial":"{{cliente.nombrecomercial}}","cifnif":"{{cliente.cifnif}}","fechaalta":"{{cliente.fechaalta}}","fechabaja":"{{cliente.fechabaja}}",
"email":"{{cliente.email}}","telefono1":"{{cliente.telefono1}}"}' handle-as="json" on-response="notificar"></iron-ajax>
	<iron-ajax yes id="buscarCliente" content-type="application/json" url="http://localhost/buscar/" method="POST" body='{"token":"{{user}}","tabla":"clientes","codcliente":"{{cliente.codcliente}}"}' handle-as="json" last-response="{{cliente}}" on-response="respuesta"></iron-ajax>
  </template>

</dom-module>

<script>
  // registramos el elemento
  Polymer({
    is: "cliente-info",
	listeners: {
		'tm-searchs-changed':'seleccionoCliente'
	},
	guardar: function(){
		this.$.guardar.generateRequest();
	},
	seleccionoCliente: function(e, cliente){
		cliente = e.detail.__data__.resultados[0];
		this.set('cliente.codcliente',cliente.codcliente);
	},
	notificar: function(){
		this.fire('clienteActualizado');
	},
	ready: function(){
		if (this.cliente.codcliente != null)
			this.$.buscarCliente.generateRequest();
	}, 
	respuesta: function(e){
		this.set('cliente',e.detail.response[0]);
		console.log(this.cliente);
	}
  });
</script>